/* InvoicePage.css */

.invoice {
  border: 1px solid #000;
  padding: 20px 12px;
  background: #fff;
  width: 210mm;
  /* min-height: 297mm; */
  margin: auto;
  align-items: center;
}

.invoice-header {
  border-bottom: 1px solid #000;
  padding-bottom: 10px;
}

.logo img {
  height: 55px;
}

.tax-title {
  font-size: 26px;
  font-weight: bold;
  text-align: right;
}

.company-info {
  font-size: 14px;
  line-height: 1.4;
}

.table-invoice {
  border: 1px solid #000;
  border-collapse: collapse;
  width: 100%;
}

.table-invoice th,
.table-invoice td {
  border: 1px solid #000;
  text-align: center;
  padding: 6px;
  font-size: 14px;
  vertical-align: middle;
}

.signature {
  margin-top: 40px;
  text-align: right;
  font-size: 14px;
}

.table-light {
  background-color: #ecedee !important;
}

@media print {
  body {
    margin: 0;
  }
  .invoice {
    border: none;
    box-shadow: none;
    margin: 0;
  }
}
